* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  background: red;
  height: 50px;
  padding: 0;
  position: relative;
}
.search .input {
  height: 50px;
  width: 50px;
  font-size: 1.2em;
  background: white;
  border: 0;
  transition: all 0.5s ease;
}
.search .input:focus {
  outline: none;
}
.search .btn {
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  background: white;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.search.active .input {
  width: 300px;
}
.search.active .btn {
  transform: translateX(298px);
}
